*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    /* background-color: rgba(243, 124, 13, 0.986); */
    background-image: linear-gradient(to right, rgba(243, 124, 13, 0.986), rgba(66, 66, 66, 0.473));
}

main{
    background-color: rgba(193, 194, 196, 0.356);
    margin: 45px 50px 0 50px;
    padding: 42px 4px 22px 89px;
    border-radius: 15px;
    
}
header{
    text-align: center;
}

.logo_antendimento{
    border-radius: 50%;
}

section{
    padding: 1px 1px 1px 1px;
}

footer{
    text-align: center;
    margin: 87px 0px 0px 0px;
    color: white;
    font-size: 13px;
}