*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    /* background-color: rgba(243, 124, 13, 0.986); */
    background-image: linear-gradient(to right, rgba(243, 124, 13, 0.986), rgba(66, 66, 66, 0.473));
}

header{
    text-align: center;
}

.logo_antendimento{
    border-radius: 50%;
}

main{
    justify-content: center;
    align-items: center;
    
    
}

.atendimento{
    background-color: rgba(240, 248, 255, 0.502);
    padding-bottom: 5px;
    border-radius: 10px; 
    text-align: center;   
    margin: 10px;
    
}
h2{
    padding: 10px;
}

li{
    margin:9px 32px 9px 32px;
    list-style: none;
}

ul{
    padding: 8px 3px 0px 0px;
}

footer{
    text-align: center;
    margin: 87px 0px 0px 0px;
    color: white;
    font-size: 13px;
}

.img-atendimento{
    max-width: 400px;
    max-height: 400px;
    border-radius: 20px;
} 

.img_central{
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
}

.outros-atendimento{
    text-align: center;
    margin: 0 auto;
} */

.outros-atendimento h3{
    margin: 30px 0px 28px 0px;
}

footer{
    text-align: center;
    margin: 87px 0px 0px 0px;
    color: white;
    font-size: 13px;
}