*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    /* background-color: rgba(243, 124, 13, 0.986); */
    background-image: linear-gradient(to right, rgba(243, 124, 13, 0.986), rgba(66, 66, 66, 0.473));
}

header{
    text-align: center;
}

.logo_coodernacao{
    border-radius: 50%;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.coodernadores_linha{
    text-align: center;
    display: flex;

    margin: 175px 1px 1px 15px;    
}
.coodernadores{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.container{
    /* background-color: white;
    margin: 1px 1px 1px 1px ; */
    
}

footer{
    text-align: center;
    margin: 87px 0px 0px 0px;
    color: white;
    font-size: 13px;
}


h4, p{
    font-size: 12px;
}