*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    /* background-color: rgba(243, 124, 13, 0.986); */
    background-image: linear-gradient(to right, rgba(243, 124, 13, 0.986), rgba(66, 66, 66, 0.473));
}

header{
    text-align: center;
}

.logo_mapa_de_sala{
    border-radius: 50%;
}

.container-mapa{
    padding: 5rem 0;
}

.container-mapa ul{
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.container-mapa li{
    background-color: aliceblue;
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px
    
}

.container-mapa a{
    text-decoration: none;
    color: black;
    text-align: center;
}