
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

body{
    background-image: linear-gradient(to right, rgba(243, 124, 13, 0.986), rgba(66, 66, 66, 0.473));
    
   
}

/* .img_cabeçalho{
    justify-content: center;
    align-items: center;
} */

/* cabeçalho */

header{
    margin: 0 auto;
    /* width: 413px; */
    height: 171px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Foto do predio */
.predio_anhanguera{
    height: 300px;
    width: 310px;
    border-radius:50%;
    /* right: 270px;  */  
}

.logo{
    text-align: center;
}
.logo_anhanguera{
    border-radius: 50%;
    width: 100px;
}


/* Bloco do conteudo */
main{
    background-color: rgba(193, 194, 196, 0.356);
    /* margin: 140px 50px 0 50px; */
    padding: 20px;
    border-radius: 15px;
    margin-top: 150px;
    
   
    
    
}

.menu_principal{
    text-align: center;
    height: 380px;
    padding: 15px;
    margin: 1px 1px 0px 1px;
    justify-content: center;
    align-items: center;
   
    

}

.menu{
    background-color: rgba(243, 124, 13, 0.986);
    width: 220px;
    height: 69px;
    margin: 0 auto;
    padding: 26px;
    border-radius: 10px;
    
}
.menu:hover{
    background-color: rgba(193, 194, 196, 0.356);    
}

a:hover{
    color: black;
}


menu a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.informacoes{
    margin-top: 173px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.comunicados h2{
    text-align: center;
    margin-bottom: 30px;
}

.comunicados{
    padding-top: 1px;
}


.img-comunicado{
    max-width: 300px;
    max-height: 300px;

}


/* Rodapé */

footer{
    text-align: center;
    margin: 87px 0px 0px 0px;
    color: white;
    font-size: 13px;
    
}

#rodape{
    color: white;
}

#greve{
    font-size: 35px;
    color: red;
    background-color: white;
    border-radius: 10px;
    
}

@media screen and (max-width: 450px){
    .figura{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



